body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.customer {
  padding: 20px;
  width: 50%;
}
.customerName {
  background-color: antiquewhite;
  margin: 0;
  padding: 2px;
  font-size: 1.2rem;
}

p {
  background-color: aliceblue;
  margin: 0;
  padding: 5px;
}
